@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Henrique S. Domareski<br />
    hsd.foz@gmail.com<br />
    Phone number: +55 48 9 9900-3193<br />
    <a href="https://www.linkedin.com/in/henrique-siebert-domareski-217069b3/" target="_blank">LinkedIn</a><br />
</address>
