@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to Bookshelf Application</h1>
    <br />
    <p class="lead">
        This is an ASP.NET MVC 5 Application, that use a single page to execute CRUD operation.
        The project uses Model View ViewModel Pattern (MVVM), so you can reuse all data access and validation in a mobile application for example.<br />
        To save the records, it is used a XML Database (the default folder to create automatically the XML file is on drive C:\). <br />
    </p>
    <p><a href="Book" class="btn btn-primary btn-lg">See the book's operation &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Bookshelf</h2>
        <p>Bookshelf Project its the main project, where there is the Controller, Views and JavaScript files.</p>
    </div>
    <div class="col-md-4">
        <h2>Bookshelf Data</h2>
        <p>On Bookshelf Data Project, there is the objects, the view model, and the manager object.</p>
    </div>
    <div class="col-md-4">
        <h2>Bookshelf Common</h2>
        <p>
            On Bookshelf Common Project, there is the CRUD operations to use in each page that you create.
        </p>
    </div>
</div>